*{
    background-color:rgb(191, 189, 203);
    color: black;
 
}
p{
    margin-left: 100px;
    font-size: 50px;
    font-style:strong;
    font-family: sans-serif;
}
p1{
    margin-left: 100px;
    font-size: 40px;
    color: black;
}
p2{
    float:right;
    font-size: 32px;
    margin-right: 30px;
}
.material-icons.outlined{
    color: aqua;
    font-size: 40px;
    
}



.add{
    float: right;
    font-size: 32px;
}
.button1{
    float: right;
    text-decoration: none;
    border: none;
background-color: white;}
    .box1{width:300px;
        border: 3px solid white;

    }
    /* .container2{
        width: 40%;
        border: 3px solid red;
        background-color: white;
        padding: 20px 30px;
        color:black;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 30%;
        visibility:hidden;
    }
    .task{
        
        padding: 20px 30px;
        background-color: white;
        border: 5px solid red;
        box-sizing: border-box;

    }
    input{
        height: 40px;
        width: 60%;
        background-color: aliceblue;
        color: black;
    }
    .newtask{
        width: 100%;
        
        margin-top: 20px;
        background-color: white;
        padding: 30px 30px;
    }
    .button2{
        float:right;
    } */
    .button2{
        float:right;
        margin-right: 20px;
    }
    .container2{
        margin-top: 60px;
    width: 40%;
    border: 3px  solid rgb(255, 0, 38);
    position:absolute;
    top:200px;
    left: 200px;
    border-radius: 8px;
    padding:30px 40px;
    visibility: hidden;

}
#newtask{
background-color: white;
padding: 20px;
}
#input{
    height: 70%;
    width: 70%;
    padding: 16px;
    font-size: larger;
}
#newtask button{
    float: right;
    height: 60px;
    background-color: aqua;
    font-weight: bold;
    width: 100px;
    font-size: 22px;
}
.taskadd{
    background-color: rgb(203, 200, 200);
    width:100%;
    margin-top: 100px;
    padding: 30px 20px;
    border: 5px solid greenyellow;
    box-sizing: border-box;
    height: auto;
    font-size: 28px;
}
.newbox{display: flex;
    justify-content: space-between;
    font-size: 40px;

}
.delete{
    font-size: 22px;
    background-color: aqua;
    height: 50px;
    width: 60px;
    cursor: pointer;
    margin-top: 10px;
}
.completed{ text-decoration: line-through;
    cursor: pointer;

}
    
